.title {
    text-align: center;
    margin: auto;
    font-size: 50px;
    margin: 1em;
}

main {
    display: flex;
    justify-content: center;
}

.led-grid {
    display: grid;
    grid-template-columns: repeat(10, 35px);
    grid-auto-rows: 35px;
}

.individual-led {
    width: 25px;
    height: 25px;
    border-radius: 300pt;
    border: 2px solid black;
}